.footer {
  background-color: black;
  color: white;
  padding: 40px 20px;
  text-align: left;
  font-family: "Simplon Norm", sans-serif;
}

.footerLine {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 40px 0;
}

/* Additional styles for responsive design */
.footerContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footerRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footerQuadrant {
  flex: 1;
  padding: 0 20px;
  min-width: 250px;
  margin-top: 30px;
}

.footerHeading,
.footerSubHeading {
  font-family: "Simplon Norm";
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

.currencySection {
  display: flex;
  align-items: center;
}

.currencySection img {
  width: 24px; 
  height: 24px;
  background-color: white; 
  border-radius: 4px; 
  padding: 2px; 
}

.currencyText {
  font-size: 18px;
  margin-left: 8px; 
  line-height: 24px; 
  margin-top: 12px;
  display: flex;
  align-content: flex-end;
}

.subscribeSection {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.emailInput {
  width: 300px;
  padding: 14px 24px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.subscribeButton {
  width: 184px;
  height: 47px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribeButton:hover {
  background-color: #333;
}

.footerLinks p {
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
}

.footerLinks p:hover {
  text-decoration: underline;
}

.socialIcons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.socialIcon {
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcon img,
.socialIcon .nextImage {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.paymentIcons {
  margin-top: 25px;
  display: flex;
  gap: 7px;
}

.paymentIcon {
  width: 45px;
  height: auto;
  background-color: #ffffff;
  padding: 7px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footerCopyright {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footerRow {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footerQuadrant {
    padding: 0;
    margin-bottom: 20px;
  }

  .emailInput,
  .subscribeButton {
    width: 100%;
  }

  /* Additional footer lines for smaller screens */
  .footerQuadrant:not(:last-child) {
    position: relative;
  }

  .footerQuadrant:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: -20px; /* Positioning below the current quadrant */
    left: 0;
  }
}
